<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>myemail</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>cn.beida.ssm.controller.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LogregFilter</display-name>
    <filter-name>LogregFilter</filter-name>
    <filter-class>cn.beida.ssm.controller.filter.LogregFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogregFilter</filter-name>
    <url-pattern>/login</url-pattern>
    <url-pattern>/register</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>SetTokenFilter</display-name>
    <filter-name>SetTokenFilter</filter-name>
    <filter-class>cn.beida.ssm.controller.filter.SetTokenFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SetTokenFilter</filter-name>
    <url-pattern>/logreg.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.beida.ssm.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>cn.beida.ssm.controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
</web-app>